# Binaries
*.exe
*.o
*.obj
*.dll

# Logs
build_log*.txt
*.log

# VS Code
.vscode/

# Build artifacts
bin/
build/
compiler/
Release/
compile_commands.json
CMakeCache.txt

# Save data
saves/
save_slot_*.json
